nav{
  text-align: center;
  border-bottom: solid;
  width:103%;
  margin-left:-10px;
  
}

.nav-bar {
  display: inline-block;
  list-style-type: none;
  width: 960px;
  padding: 0;
  text-align: center;
  
  }
  
  #nav-name a {
    display: block;
    background-color: #4aaaa5;
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    
}

  .nav-item a {
    display: block;
    color: #4aaaa5;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    float: right;

  }